version: 1
disable_existing_loggers: False
formatters:
  default:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
    datefmt: "%m-%d %H:%M"
handlers:
  default:
    level: DEBUG
    formatter: default
    class: logging.StreamHandler
    stream: ext://sys.stdout
loggers:
  "":
    handlers: [default]
    level: DEBUG
    propagate: True
  "pymongo":
    handlers: [default]
    level: INFO
    propagate: True
  "hikari.ratelimits":
    handlers: [default]
    level: INFO
    propagate: True
